<form action="">
  <ul id='leftList' >
    {{#each burger}}
        <li > 
          <div><span>{{id}}</span>.<span>{{name}}</span></div>
          <button class='clickyy' >EAT</button>
        </li>
    {{/each}}
  </ul>
</form>

<script>
  setTimeout(()=>{
    const a = document.querySelectorAll('.clickyy');
    a.forEach(button=>{
      button.addEventListener('click', eatBurger)
    })
  },20)

  var eatBurger = async function (x) {
    x.target.removeEventListener('click',eatBurger);
    var id = x.target.parentNode.children[0].children[0].innerText;
    var burg = x.target.parentNode.children[0].children[1].innerText;
    x.target.parentNode.parentNode.removeChild(x.target.parentNode);
    await axios({
      method: 'delete',
      url: '/api/burger/',
      data:{
        id,burg
      }
    }).then(res=>{
        if (res) {
            location.reload()
        }
      }).catch(err=>console.log(err));
  };
</script>